@model NetworkOfLibrariesWebApplication.Author

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі</h1>

<div>
    <h4>автора</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datebirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datebirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Education)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Education)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">До списку авторів</a>
</div>
