@model NetworkOfLibrariesWebApplication.Style
@using Microsoft.AspNetCore.Identity;
@using NetworkOfLibrariesWebApplication.Infrastructure.Identity;
@using NetworkOfLibrariesWebApplication.Infrastructure.Identity.Extensions;

@{
    ViewData["Title"] = "Деталі";
}

<h1>Деталі</h1>

<div>
    <h4>Стилю</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
    </dl>
</div>
<div>
                    @inject UserManager<ApplicationUser> UserManager
                    @inject SignInManager<ApplicationUser> SignInManager
                    @{
                        var isAdmin = false;
                        if (SignInManager.IsSignedIn(User))
                        {
                            var applicationUser = await UserManager.GetUserAsync(User);
                            if (applicationUser is not null)
                            {
                                isAdmin = await UserManager.IsInRoleAsync(applicationUser, "Admin");
                            }
                            if (isAdmin)
                            {
                                <a asp-action="Edit" asp-route-id="@Model?.Id">Змінити</a>
                            }
                        }
                        }
                        
    <a asp-action="Index"> | До списку стилів</a>
</div>
