@model IEnumerable<NetworkOfLibrariesWebApplication.Style>
@using Microsoft.AspNetCore.Identity;
@using NetworkOfLibrariesWebApplication.Infrastructure.Identity;
@using NetworkOfLibrariesWebApplication.Infrastructure.Identity.Extensions;

@{
    ViewData["Title"] = "Стилі";
}

<h1>Стилі</h1>

<p>
    @inject UserManager<ApplicationUser> UserManager
    @inject SignInManager<ApplicationUser> SignInManager
    @{
        var isAdmin = false;
        if (SignInManager.IsSignedIn(User))
        {
            var applicationUser = await UserManager.GetUserAsync(User);
            if (applicationUser is not null)
            {
                isAdmin = await UserManager.IsInRoleAsync(applicationUser, "Admin");
            }
            if (isAdmin)
            {
                <a asp-action="Create">Додати</a>
            }
        }
        }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                    @inject UserManager<ApplicationUser> UserManager
                    @inject SignInManager<ApplicationUser> SignInManager
                    @{
                        isAdmin = false;
                        if (SignInManager.IsSignedIn(User))
                        {
                            var applicationUser = await UserManager.GetUserAsync(User);
                            if (applicationUser is not null)
                            {
                                isAdmin = await UserManager.IsInRoleAsync(applicationUser, "Admin");
                            }
                            if (isAdmin)
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id">Змінити | </a>
                                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                            }
                        }
                    }
            </td>
        </tr>
}
    </tbody>
</table>
